<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxy.mapper.CustomerLoginMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.lxy.model.CustomerLogin">
                    <id column="customer_id" property="customerId" />
                    <result column="login_name" property="loginName" />
                    <result column="password" property="password" />
                    <result column="user_stats" property="userStats" />
                    <result column="modified_time" property="modifiedTime" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        customer_id, login_name, password, user_stats, modified_time
    </sql>

</mapper>