<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxy.mapper.ShippingInfoMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.lxy.model.ShippingInfo">
                    <id column="ship_id" property="shipId" />
                    <result column="ship_name" property="shipName" />
                    <result column="ship_contact" property="shipContact" />
                    <result column="telephone" property="telephone" />
                    <result column="price" property="price" />
                    <result column="modified_time" property="modifiedTime" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        ship_id, ship_name, ship_contact, telephone, price, modified_time
    </sql>

</mapper>