<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxy.mapper.WarehouseInfoMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.lxy.model.WarehouseInfo">
                    <id column="w_id" property="wId" />
                    <result column="warehouse_sn" property="warehouseSn" />
                    <result column="warehoust_name" property="warehoustName" />
                    <result column="warehouse_phone" property="warehousePhone" />
                    <result column="contact" property="contact" />
                    <result column="province" property="province" />
                    <result column="city" property="city" />
                    <result column="distrct" property="distrct" />
                    <result column="address" property="address" />
                    <result column="warehouse_status" property="warehouseStatus" />
                    <result column="modified_time" property="modifiedTime" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        w_id, warehouse_sn, warehoust_name, warehouse_phone, contact, province, city, distrct, address, warehouse_status, modified_time
    </sql>

</mapper>