<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxy.mapper.WarehouseProductMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.lxy.model.WarehouseProduct">
                    <id column="wp_id" property="wpId" />
                    <result column="product_id" property="productId" />
                    <result column="w_id" property="wId" />
                    <result column="current_cnt" property="currentCnt" />
                    <result column="lock_cnt" property="lockCnt" />
                    <result column="in_transit_cnt" property="inTransitCnt" />
                    <result column="average_cost" property="averageCost" />
                    <result column="modified_time" property="modifiedTime" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        wp_id, product_id, w_id, current_cnt, lock_cnt, in_transit_cnt, average_cost, modified_time
    </sql>

</mapper>