<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxy.mapper.BrandInfoMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.lxy.model.BrandInfo">
                    <id column="brand_id" property="brandId" />
                    <result column="brand_name" property="brandName" />
                    <result column="telephone" property="telephone" />
                    <result column="brand_web" property="brandWeb" />
                    <result column="brand_logo" property="brandLogo" />
                    <result column="brand_desc" property="brandDesc" />
                    <result column="brand_status" property="brandStatus" />
                    <result column="brand_order" property="brandOrder" />
                    <result column="modified_time" property="modifiedTime" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        brand_id, brand_name, telephone, brand_web, brand_logo, brand_desc, brand_status, brand_order, modified_time
    </sql>

</mapper>