<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxy.mapper.ProductCommentMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.lxy.model.ProductComment">
                    <id column="comment_id" property="commentId" />
                    <result column="product_id" property="productId" />
                    <result column="order_id" property="orderId" />
                    <result column="customer_id" property="customerId" />
                    <result column="title" property="title" />
                    <result column="content" property="content" />
                    <result column="audit_status" property="auditStatus" />
                    <result column="audit_time" property="auditTime" />
                    <result column="modified_time" property="modifiedTime" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        comment_id, product_id, order_id, customer_id, title, content, audit_status, audit_time, modified_time
    </sql>

</mapper>