<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxy.mapper.ProductPicInfoMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.lxy.model.ProductPicInfo">
                    <id column="product_pic_id" property="productPicId" />
                    <result column="product_id" property="productId" />
                    <result column="pic_desc" property="picDesc" />
                    <result column="pic_url" property="picUrl" />
                    <result column="is_master" property="isMaster" />
                    <result column="pic_order" property="picOrder" />
                    <result column="pic_status" property="picStatus" />
                    <result column="modified_time" property="modifiedTime" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        product_pic_id, product_id, pic_desc, pic_url, is_master, pic_order, pic_status, modified_time
    </sql>

</mapper>