<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxy.mapper.ProductCategoryMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.lxy.model.ProductCategory">
                    <id column="category_id" property="categoryId" />
                    <result column="category_name" property="categoryName" />
                    <result column="category_code" property="categoryCode" />
                    <result column="parent_id" property="parentId" />
                    <result column="category_level" property="categoryLevel" />
                    <result column="category_status" property="categoryStatus" />
                    <result column="modified_time" property="modifiedTime" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        category_id, category_name, category_code, parent_id, category_level, category_status, modified_time
    </sql>

</mapper>