<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxy.mapper.SupplierInfoMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.lxy.model.SupplierInfo">
                    <id column="supplier_id" property="supplierId" />
                    <result column="supplier_code" property="supplierCode" />
                    <result column="supplier_name" property="supplierName" />
                    <result column="supplier_type" property="supplierType" />
                    <result column="link_man" property="linkMan" />
                    <result column="phone_number" property="phoneNumber" />
                    <result column="bank_name" property="bankName" />
                    <result column="bank_account" property="bankAccount" />
                    <result column="address" property="address" />
                    <result column="supplier_status" property="supplierStatus" />
                    <result column="modified_time" property="modifiedTime" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        supplier_id, supplier_code, supplier_name, supplier_type, link_man, phone_number, bank_name, bank_account, address, supplier_status, modified_time
    </sql>

</mapper>